#menu_text{
	margin: 0;
}
#menu_text {
	background-color: #51A9FF;
	text-align: center;
	padding: 50px;
}

nav {
	background-color: #333;
	overflow: hidden;
}
nav a{
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: #DDD;
	color: black;
}

.menu_left {
	float:left;
}
.menu_right {
	float:right;
}

#left_side {
	flex:10%;
	background-color: #f1f1f1;
	padding: 10px 20px;
	margin: 30px 0px;
	#TCS{
		padding: 130px 30px;	
	}
	#VD{
		padding: 100px 30px;
	}
	#ÄS{
		padding: 100px 30px;
	}
	#CVNV{
		padding: 0px 20px;
	}
}

#right_side {
	flex:90%;
	padding: 10px 20px;
}

#flex_container {
	display:flex;
	flex-wrap: nowrap;
}
.sach_item {
	width: 16%;
	float: left;
	text-align: center;
}
.sach_img {
	width: 50%;
	padding: 10px;
	margin: 10px;
}
.sach_title{
	font-size: 90%;
}

footer{
	background-color: #333;
	color:white;
	padding: 5px 15px;
	text-align: center;	
}
footer > a {
	color: white;
}
footer a:hover {
	background-color: #DDD;
	color: balck;
}

@media(max-width: 1000px) {
	#left_side{
		flex:100%;
	}
	#right_side{
		flex:100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
	.sach_item{
		width: 33%;
	}
}
